/*** Xample Page & Bengine ***/

/* Save Bar */
#savebar {
	text-align: center;
	height: 60px;
	width: 100%;

	background-color: white;
	border: 0px solid transparent;
	border-color: black;
	border-radius: 1px;
}

#saveprogress {
	width: 100%;
	height: 30px;
}

#saveinfo {
	width: 100%;
	height: 30px;
}

#autosave {
	width: 100%;
	height: 22px;
	padding: 8px 0 0 0;
}

#savestatus {
	width: 100%;
	height: 26px;
	padding: 4px 0 0 0;
}

/* Page Info */
.text-area {
	display: block;
	width: 100%;
	border: 1px solid black;
	border-radius: 2px;

	padding: 4px;
	margin: 0px;
	box-sizing: border-box;

	resize: none;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: black;
}

.page-blurb {
	@extend .text-area;
	height: 135px;

}

.comment-box {
	@extend .text-area;
	margin-top: 12px;
	height: 60px;
}

.info-row {
	margin: 8px 6px 0px 6px;
}

.page-link {
	display: inline-block;
	width: 100%;
	padding: 6px;
	text-align: center;
	font-weight: 500;

	a {
		font-weight: 500;
	}

	a:hover {
		color: black;
	}

}

.page-title {
	display: inline-block;
	width: 100%;
	height: 32px;
	border: 1px solid black;
	border-radius: 2px;

	padding: 0px 0px;
	margin: 0px;
	box-sizing: border-box;

	text-align: center;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: black;
}

.explore-img {
	width: 100%;
	height: 135px;
}

.thumb-img {
	@extend .explore-img;
	cursor: pointer;
	vertical-align:top;
}

/* Mobile Size */
@media screen and (max-width: $site-width) {
    .page-title { width: 100%; }

	.xtext { max-width: 100%; margin: 0px auto 0 auto; }
	.xTex, .xTex-show { width: 100%; }

	.xcode { max-width: 100%; margin: 0px auto 0 auto; }
	.xCde, .xCde-show { width: 100%; }

	.latex { max-width: 100%; margin: 0px auto 0 auto; }
	.xLtx { width: 100%; }
	.latexImage, .latexImage-show { width: 100%; }

	.xmath { max-width: 100%; margin: 0px auto 0 auto; }
	.xMat { width: 100%; }
	.mathImage, .mathImage-show { width: 100%; }

	.image { max-width: 100%; margin: 0px auto 0 auto; }
	.xImg, .xImg-show { width: 100%; height: 80%; }

	.audio { max-width: 100%; margin: 0px auto 0 auto; }
	.xAud, .xAud-show { width: 100%; }

	.video { max-width: 100%; margin: 0px auto 0 auto; }
	.xVid, .xVid-show { width: 100%; height: 80%; }

	.xsvgs { max-width: 100%; margin: 0px auto 0 auto; }
	.xSvg, .xSvg-show { width: 100%; height: 80%; }

	.slide { max-width: 100%; margin: 0px auto 0 auto; }
	.xSli, .xSli-show { width: 100%; height: 80%; }

	.title { max-width: 100%; margin: 0px auto 0 auto; }
	.xTit, .xTit-show { width: 100%; }

	.xlist { max-width: 100%; margin: 0px auto 0 auto; }
	.xLrg, .xLrg-show { width: 100%; }
}
