/*** General Box Type Divs ***/

/* Error Box - All Pages */
.errmsg {
	@extend .wrapper;

	margin-top: 16px;
	margin-bottom: 16px;
	box-shadow: 1px 1px 1px $shadow;

	p {
		padding: 6px;
	}
}

/* Dash Box - Home Page */
.dash-box {
	@extend .wrapper;

	margin-top: 16px;
	margin-bottom: 16px;
	box-shadow: 1px 1px 1px $shadow;
}

/* Page Generator - Home Page */
.page-gen {
	@extend .wrapper;

	margin-top: 16px;
	margin-bottom: 16px;
	box-shadow: 1px 1px 1px $shadow;

	select {
		border-left-width: 0px;
		border-right-width: 0px;
	}

	select[multiple] {
		width: 100%;
		font-size: 1em;
		height: 240px;
	}
}

.data-box {
	font-family: "Courier New", Courier, monospace;
	vertical-align: middle;

	height: 128px;
	overflow-y:auto;

	background-color: white;
	border-width: 1px;
	border-radius: 2px;

	box-sizing: border-box;

	img {
		height: 18px;
		width: 32px;
		vertical-align: middle;
		margin: 2px 0px;
	}

	.padtop {
		padding-top: 3px;
	}

	.row {
		height: 22px;
		cursor:pointer;
	}

	.toprow {
		height: 26px;
		padding-top: 4px;
	}

	.bottomrow {
		height: 26px;
		padding-bottom: 4px;
	}
}

/* Content Search Box - Landing Page */
.explore {
	@extend .wrapper;
	margin-top: 12px;
	border-radius: 2px;
	background-color: white;
	box-shadow: 1px 1px 1px $shadow;
}

/* Block Display Box - Learning Guide Page */
.block-display {
	@extend .wrapper;

	iframe {
		width: 100%;
		box-sizing: border-box;
	}
}

/* Link Box - Explore Page */
.content-box {
    @extend .wrapper;
	margin-top: 8px;
	margin-bottom: 8px;

	background-color: white;
	box-shadow: 1px 1px 1px $shadow;
}

.box-link {
	a {
		font-size: 1.4em;
	}
	a:link {
	    color: #0000EE;
	}
	a:visited {
	    color: #551A8B;
	}
	a:hover {
	    color: hotpink;
	}
	a:active {
	    color: #FF0000;
	}
}

.box-title {
	@extend .box-link;
	padding: 4px 6px 0px 6px;
}

.box-author {
	@extend .box-link;
	height: 20px;
	padding: 8px 6px 0px 6px;
	text-align: right;

	a {
		font-size: 1em;
		text-decoration: none;
	}
}

.box-rating {
	height: 20px;
	margin: 6px 6px;
	background-color: $offwhite;
	box-sizing: border-box;
	box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
	border-radius: 4px;
	overflow: hidden;
}

.wbar {
	height: 100%;
	background-image: linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
	background-size: 40px 40px;
	background-color: #f5f5f5;
}

.w0 {
	@extend .wbar;
	background-color: #006400;
}
.w10 {
	@extend .wbar;
	background-color: #007300;
}
.w20 {
	@extend .wbar;
	background-color: #008200;
}
.w30 {
	@extend .wbar;
	background-color: #009100;
}
.w40 {
	@extend .wbar;
	background-color: #00a000;
}
.w50 {
	@extend .wbar;
	background-color: #00af00;
}
.w60 {
	@extend .wbar;
	background-color: #00be00;
}
.w70 {
	@extend .wbar;
	background-color: #00cd00;
}
.w80 {
	@extend .wbar;
	background-color: #00dc00;
}
.w90 {
	@extend .wbar;
	background-color: #00ef00;
}
.w100 {
	@extend .wbar;
	background-color: #00ff00;
}

.box-bookmark {
	text-align: center;
	height: 20px;
	line-height: 20px;

	input.star {
		margin: 6px 5px;
		padding: 0px;
	    visibility: hidden;
	    font-size: 1.2em;
	    cursor: pointer;
	}
	input.star:before {
	   content: "\2729";
	   position: absolute;
	   visibility: visible;
	   color: black;
	}
	input.star:checked:before {
	   content: "\272D";
	   position: absolute;
	}

	input.bmark {
		margin: 7px;
		padding: 0px;
	    visibility: hidden;
	    font-size: 1.2em;
	    cursor: pointer;
	}
	input.bmark:before {
	   content: "\25A1";
	   position: absolute;
	   visibility: visible;
	   color: black;
	}
	input.bmark:checked:before {
	   content: "\25A3";
	   position: absolute;
	}
}

.box-rankit {
	@extend .box-bookmark;
	display: inline-flex;
}

.box-expand {
	text-align: center;
}

.box-image {
	background-color: $offwhite;
	border-radius: 4px;

	margin: 2px 0px 4px 6px;
	height: 15 * 9px;
	width: 15 * 16px;
}

.box-blurb {
	background-color: $offwhite;
	border-radius: 4px;

	margin: 2px 6px 2px 0px;
	padding: 4px;
	height: 15 * 9 - 24px;
}

.box-created {
	padding: 2px 6px;

	font-size: 0.8em;
}

.box-edited {
	padding: 2px 6px;

	font-size: 0.8em;
}

.box-ranks {
	padding: 2px 6px;

	font-size: 0.8em;
}

.box-views {
	padding: 2px 6px;

	font-size: 0.8em;
}

.box-views-row {
	@extend .box-link;
	height: 20px;
	padding: 9px 6px 0px 6px;
	text-align: right;

	a {
		font-size: 1em;
		text-decoration: none;
	}
}

/* Profile Box - Profile Page */
.profile-list {
	max-width: $site-width;
	margin: 10px auto 0px auto;
	position: relative;
}

.profile-row {
	margin-top: 8px;

	.text-input {
		border-radius: 0px;
	}
}

.profile-title {
	background-color: $bar-color;

	padding-left: 8px;
	padding-top: 8px;
	padding-bottom: 8px;

	font-size: 1em;
	font-weight: 500;
}

@media screen and (max-width: $site-width) {
	.profile-row {
		border-top: 1px solid black;
		border-bottom: 1px solid black;

		.text-input {
			border-left-width: 0px;
			border-right-width: 0px;
		}
	}
}
