/*** Buttons ***/

/* Submit Button */
.menubtn {
	color: black;
	border: 0px solid transparent;
	border-radius: 0px;

	padding: 6px 12px 6px 12px;
	margin: 0;
	line-height: 20px;
	text-align: center;

	cursor: pointer;
	transition: background-color .5s;
	touch-action: manipulation;

	font-size: 1em;
	font-weight: 400;
}

.savebarbtn {
	@extend .menubtn;
	padding: 20px 0px 20px 0px;
}

.filterbarbtn {
	@extend .menubtn;
	padding: 26px 0px 26px 0px;
}

/* Link Button */
a.btn {
	color: black;
	border: 0px solid transparent;

	margin: 0;
	padding: 6px 0px 6px 0px;
	line-height: 20px;
	text-align: center;

	cursor: pointer;
	transition: background-color .5s;
	touch-action: manipulation;

	font-size: 1em;
	font-weight: 400;

	display:inline-block;
	width: 100%;

    text-decoration: none;
}

a.inbtn {
	color: black;
	border: 1px solid black;
	border-radius: 2px;

	margin: 0;
	padding: 7px 0px 7px 0px;

	cursor: pointer;
	transition: background-color .5s;
	touch-action: manipulation;

	text-align: center;
	font-size: 1em;
	font-weight: 400;

	display:inline-block;
	width: 100%;
	box-sizing: border-box;

    text-decoration: none;
}

a.savebar {
	padding: 19px 0px 19px 0px;
}

/* Check Buttons */
.checkbtn {
	color: black;
	border: 1px solid black;
	border-radius: 2px;

	width: 100%;
	margin-top: 8px;
	margin-bottom: 0px;
	margin-left: 0px;
	padding: 6px 8px 6px 8px;
	line-height: 14px;
	text-align: center;

	cursor: pointer;
	transition: background-color .5s;
	touch-action: manipulation;

	font-size: 1em;
	font-weight: 400;
}

/* Colors */
.none-btn {
	width: 100%;
	background-color: transparent;
}

.none-btn:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.black-btn {
	width: 100%;
	background-color: black;
}

.blue-btn {
	width: 100%;
	background-color: #748eff;
}

.blue-btn:hover {
	background-color: #385dff;
}

.gray-btn {
	width: 100%;
	background-color: #cbc9c9;
}

.gray-btn:hover {
	background-color: #949292;
}

.green-btn {
	width: 100%;
	background-color: #00ffe1;
}

.green-btn:hover {
	background-color: #00a895;
}

.red-btn {
	width: 100%;
	background-color: #ff1111;
}

.red-btn:hover {
	background-color: #d31e1e;
}

/* Mobile Size */
@media screen and (max-width: $site-width) {

    a.btn { width: 100%; }

	.checkbtn { margin-top: 0px; }
}
