/* Base Styles */

html {
	height: 100%;
}

body {
	height: 100%;
	background-color: #fdfdfd;

	margin: 0;
	padding: 0;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 300;
	color: black;
}

footer {
	margin: 40px auto;
}

#content {
	max-width: 800px;
	margin: 0 auto 0 auto;
	position: relative;
}

.menu-bar {
	width: 100%;
	max-width: 720px;
	margin: 0 auto 0 auto;
	padding: 0px;
	position: relative;
}

.menu-bar::after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  background: rgba(118, 118, 118, 0.4);
  z-index: -1;
}

.status-bar {
	width: 100%;
	height: 60px;
	max-width: 720px;
	margin: 0 auto 0 auto;
	padding: 0px;
	position: relative;
}

.status-bar::after {
  content: "";
  position: absolute;
  height: 100%;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100vw;
  background: rgba(118, 118, 118, 0.7);
  z-index: -1;
}

/* Grid System */

.row {
	box-sizing: border-box;
	margin: 0;
}

.row:before,
.row:after {
    content: " ";
    display: table;
}

.row:after {
    clear: both;
}

.col {
	box-sizing: border-box;
	position: relative;
    float: left;
    min-height: 1px;
}

.col-5 {
    width: 5%;
}

.col-10 {
    width: 10%;
}

.col-15 {
    width: 15%;
}

.col-20 {
    width: 20%;
}

.col-25 {
    width: 25%;
}

.col-30 {
    width: 30%;
}

.col-33 {
	width: 33.33%;
}

.col-35 {
    width: 35%;
}

.col-40 {
    width: 40%;
}

.col-45 {
    width: 45%;
}

.col-50 {
    width: 50%;
}

.col-55 {
    width: 55%;
}

.col-60 {
    width: 60%;
}

.col-65 {
    width: 65%;
}

.col-66 {
    width: 66.66%;
}

.col-70 {
    width: 70%;
}

.col-75 {
    width: 75%;
}

.col-80 {
    width: 80%;
}

.col-85 {
    width: 85%;
}

.col-90 {
    width: 90%;
}

.col-95 {
    width: 95%;
}

.col-100 {
    width: 100%;
}

.pad-10 {
	padding: 0 10px;
}

.pad-10-right {
	padding-right: 10px;
}

.pad-10-left {
	padding-left: 10px;
}

#blocks {
	margin: 0;
	padding: 0;
}

.block {
	margin: 0;
	padding: 0;
}

/* Menu Styles */

.menubtn {
	color: black;
	border: 0px solid transparent;
	border-radius: 0px;

	padding: 7px 12px 7px 12px;
	text-align: center;

	cursor: pointer;
	transition: background-color .5s;
	touch-action: manipulation;

	font-size: 1em;
	font-weight: 400;
}

.savebar {
	padding: 21px 0px 21px 0px;
}

.none-btn {
	width: 100%;
	background-color: transparent;
}

.none-btn:hover {
	background-color: rgba(0, 0, 0, 0.2);
}

.green-btn {
	width: 100%;
	background-color: #00ffe1;
}

.green-btn:hover {
	background-color: #00a895;
}

.red-btn {
	width: 100%;
	background-color: #ff1111;
}

.red-btn:hover {
	background-color: #d31e1e;
}

a.btn {
	color: black;
	border: 0px solid transparent;

	padding: 8px 0px 7px 0px;
	text-align: center;

	cursor: pointer;
	transition: background-color .5s;
	touch-action: manipulation;

	font-size: 1em;
	font-weight: 400;

	display:inline-block;
	width: 100%;

    text-decoration: none;
}

a.savebar {
	padding: 22px 0px 22px 0px;
}

.page-title {
	display: inline-block;
	width: 100%;
	height: 32px;
	border: 1px solid black;
	border-radius: 2px;

	padding: 0px 0px;
	margin: 0px;
	box-sizing: border-box;

	text-align: center;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: black;
}

#savebar {
	text-align: center;
	height: 60px;
	width: 100%;

	background-color: white;
	border: 0px solid transparent;
	border-color: black;
	border-radius: 1px;
}

#saveprogress {
	width: 100%;
	height: 30px;
}

#saveinfo {
	width: 100%;
	height: 30px;
}

#autosave {
	width: 100%;
	height: 22px;
	padding: 8px 0 0 0;
}

#savestatus {
	width: 100%;
	height: 26px;
	padding: 4px 0 0 0;
}

progress {
	width: 100%;
	height: 22px;
	padding: 8px 0 0 0;
}

/* Block Button Styles */
.blockbtns {
	max-width: 720px;
	margin: 10px auto 0px auto;
	position: relative;
}

.blockbtn {
	color: black;
	border: 1px solid transparent;
	border-color: black;
	border-radius: 2px;

	width: 10%;

	padding: 6px 12px;
	text-align: center;

	cursor: pointer;
	transition: background-color .5s;
	touch-action: manipulation;

	font-size: 1em;
	font-weight: 400;
}

.addbtn {
	background-color: #00ffe1;
}

.addbtn:hover {
	background-color: #00a895;
}

.delbtn {
	background-color: #ff1111;
}

.delbtn:hover {
	background-color: #d31e1e;
}

/* Block Styles */
.xtext {
	max-width: 720px;
	margin: 0px auto 0 auto;
}

iframe.xTex {
	display: inline-block;
	width: 720px;
	height: 200px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;

	padding: 0px;
	margin: 0px;
	box-sizing: border-box;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: black;
}

.xcode {
	max-width: 720px;
	margin: 0px auto 0 auto;
}

.xCde {
	white-space: pre-line;

	display: inline-block;
	width: 720px;
	height: 300px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;

	line-height: 1.8em;

	background-image: -webkit-linear-gradient(#ccc, #ccc 3px, white 4px, white 18px, #ccc 19px, #ccc 32px);
    background-image: -moz-linear-gradient(#ccc, #ccc 3px, white 4px, white 18px, #ccc 19px, #ccc 32px);
    background-image: -ms-linear-gradient(#ccc, #ccc 3px, white 4px, white 18px, #ccc 19px, #ccc 32px);
    background-image: -o-linear-gradient(#ccc, #ccc 3px, white 4px, white 18px, #ccc 19px, #ccc 32px);
	background-image: linear-gradient(#efefef, #efefef 5px, white 6px, white 28px, #efefef 29px, #efefef 50px);

	background-size: 100% 50px;

	padding: 4px 6px;
	margin: 0px;
	box-sizing: border-box;
}

.latex {
	max-width: 720px;
	margin: 0px auto 0 auto;
}

.xLtx {
	display: inline-block;
	width: 720px;
	height: 100px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;

	padding: 4px 6px;
	margin: 2px 0 0 0;
	box-sizing: border-box;
}

.latexImage {
	display: inline-block;
	width: 720px;
	height: 200px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;

	padding: 4px 6px;
	margin: 0px;
	box-sizing: border-box;
}

.xmath {
	max-width: 720px;
	margin: 0px auto 0 auto;
}

.xMat {
	display: inline-block;
	width: 720px;
	height: 100px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;

	padding: 4px 6px;
	margin: 2px 0 0 0;
	box-sizing: border-box;

	font-family: Arial, Helvetica, sans-serif;
}

.mathImage {
	display: inline-block;
	width: 720px;
	height: 200px;
	border: 1px solid black;
	border-radius: 2px;
	background-color: white;

	padding: 4px 6px;
	margin: 0px;
	box-sizing: border-box;
}

.image {
	max-width: 720px;
	margin: 0px auto 0 auto;
}

.xImg {
	display: inline-block;
	width: 720px;
	height: 405px;
	border: 1px solid black;
	border-radius: 2px;

	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.audio {
	max-width: 720px;
	margin: 0px auto 0 auto;
}

.xAud {
	display: inline-block;
	width: 720px;

	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.video {
	max-width: 720px;
	margin: 0px auto 0 auto;
}

.xVid {
	display: inline-block;
	width: 720px;
	height: 405px;
	border: 1px solid black;
	border-radius: 2px;

	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.slide {
	max-width: 720px;
	margin: 0px auto 0 auto;
}

.xSli {
	display: inline-block;
	width: 720px;
	height: 405px;
	border: 1px solid black;
	border-radius: 2px;

	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

svg {
	width: 100%;
	height: 100%
}

.xsvgs {
	max-width: 720px;
	margin: 0px auto 0 auto;
}

.xSvg {
	display: inline-block;
	width: 720px;
	height: 405px;
	border: 1px solid black;
	border-radius: 2px;

	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

.title {
	max-width: 720px;
	margin: 0px auto 0 auto;
}

.xTit {
	display: inline-block;
	width: 720px;
	height: 32px;
	border: 1px solid black;
	border-radius: 2px;

	padding: 4px 6px;
	margin: 0px;
	box-sizing: border-box;

	text-align: center;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: black;
}

/* Mobile Size */

@media screen and (max-width: 720px) {
	#content { width: 100%; }

	.col-5, .col-10, .col-15, .col-20, .col-25, .col-30, .col-33, .col-35, .col-40, .col-45, .col-50, .col-55, .col-60, .col-65, .col-66, .col-70, .col-75, .col-80, .col-85, .col-90, .col-95, .col-100 {
		float: none;
	    min-height: 1px;
	    width: auto;

		margin: 0;
	    padding: 0;
	}

	.logout-btn { width: 100%; }
	.save-btn { width: 100%; }
	a.btn { width: 100%; }
	.revert-btn { width: 100%; }
	.page-title { width: 100%; }

	/* Block Styles */

	.blockbtns { width: 100%; }
	.blockbtn { width: 100%; }

	.xtext { max-width: 100%; margin: 0px auto 0 auto; }
	iframe.xTex { width: 100%; }

	.xcode { max-width: 100%; margin: 0px auto 0 auto; }
	.xCde { width: 100%; }

	.latex { max-width: 100%; margin: 0px auto 0 auto; }
	.xLtx { width: 100%; }
	.latexImage { width: 100%; }

	.xmath { max-width: 100%; margin: 0px auto 0 auto; }
	.xMat { width: 100%; }
	.mathImage { width: 100%; }

	.image { max-width: 100%; margin: 0px auto 0 auto; }
	.xImg { width: 100%; height: 80%; }

	.audio { max-width: 100%; margin: 0px auto 0 auto; }
	.xAud { width: 100%; }

	.video { max-width: 100%; margin: 0px auto 0 auto; }
	.xVid { width: 100%; height: 80%; }

	.xsvgs { max-width: 100%; margin: 0px auto 0 auto; }
	.xSvg { width: 100%; height: 80%; }

	.slide { max-width: 100%; margin: 0px auto 0 auto; }
	.xSli { width: 100%; height: 80%; }

	.title { max-width: 100%; margin: 0px auto 0 auto; }
	.xTit { width: 100%; }
}

/* Form Element Styles */

select {
	/* adjusts width to include input styles */
	box-sizing: border-box;

	display: block;
	width: 100%;
	height: 30px;
	padding: 2px 3px 2px 3px;
	border-radius: 2px;
	border-color: black;

	font-size: 1em;
	background-color: white;
	color: black;
}

select option {
	background-color: white;
	color: black;
}

select[multiple] {
	width: 100%;
	font-size: 1em;
	height: 120px;
}

.text-input {
	display: inline-block;
	width: 100%;
	height: 32px;
	border: 1px solid black;
	border-radius: 2px;

	padding: 0px 0px;
	margin: 0px;
	box-sizing: border-box;

	text-align: center;

	font-family: Arial, Helvetica, sans-serif;
	font-size: 1em;
	font-weight: 300;
	color: black;
}

/* Other Content */

.profilelist {
	max-width: 720px;
	margin: 10px auto 0px auto;
	position: relative;
}
